.MuiTextField-root {
  height: 36px !important;
  min-width: 60px !important;
}

.MuiInputLabel-root {
  font-size: 14px !important;
}

.MuiInputBase-input {
  padding: 6.5px 10px !important;
}

.react-datepicker__input-container {
  input {
    padding: 8px 10px;
    font-size: 14px;
  }
}
