.MuiTextField-root {
  height: 36px !important;
  min-width: 60px !important;
}

.MuiInputLabel-root {
  font-size: 14px !important;
}

.MuiInputBase-input {
  padding: 6.5px 10px !important;
  font-size: 14px !important;
}

.MuiIconButton-edgeEnd {
  svg {
    width: 20px;
    height: 20px;
  }
}

.MuiSvgIcon-root {
  &:hover {
    cursor: pointer;
  }
}

.date-picker {
  label {
    top: -8px !important;
  }
}

@media screen and (max-width: 500px) {
  .MuiTableCell-root {
    line-height: 1rem !important;
  }
}
