.login-form {
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .MuiButton-root {
    margin: 20px;
  }

  h2 {
    font-size: 30px;
  }
}

.error-message {
  text-align: center;
  color: red;
}
