.main-page {
  .react-datepicker__input-container {
    input {
      padding: 8.5px 14px;
      font-size: 1rem;
    }

    .css-10mieeq-MuiTableCell-root {
      border-right: 1px solid rgba(224, 224, 224, 1);
    }
  }
}
