.header {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;

  .user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    & > a {
      margin-left: 10px;
    }
  }

  a {
    color: #1976d2;
  }
}

@media screen and (max-width: 460px) {
  .header {
    font-size: 12px;
  }
}
